*{
   margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
  align-items: center;
  justify-content: center;
}

.container {
    margin-top: 50%;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    height: 50%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.context-menu {
    display: block;
    background-color: white;
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 30px lightgrey;
    position: absolute;
    transform-origin: center;
    z-index: 2;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.2s, opacity 0.2s;
    
}
.context-menu.show {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
  }

  .menu-item {
    display: block;
    padding: 10px 30px;
    transition: 0.1s;
    color: #666;
  }
  
  .menu-item:hover {
    background-color: #eee;
    cursor: pointer;
  }
  
  
#out-click {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
  }